h2#font-stacks Font stacks
h3 Cursive
.demo
  p.cursive= bogan({ paragraphs: 1 })
h3 Monospace
.demo
  p.monospace= bogan({ paragraphs: 1 })
h3 Sans-serif
h4 Optima
.demo
  p.optima= bogan({ paragraphs: 1 })
h4 Futura
.demo
  p.futura= bogan({ paragraphs: 1 })
h4 Gill sans
.demo
  p.gill-sans= bogan({ paragraphs: 1 })
h4 Trebuchet
.demo
  p.trebuchet= bogan({ paragraphs: 1 })
h4 Helvetica
.demo
  p.helvetica= bogan({ paragraphs: 1 })
h4 Verdana
.demo
  p.verdana= bogan({ paragraphs: 1 })
h4 Lucida grande
.demo
  p.lucida-grande= bogan({ paragraphs: 1 })
h4 Geneva
.demo
  p.geneva= bogan({ paragraphs: 1 })
h4 Segoe
.demo
  p.segoe= bogan({ paragraphs: 1 })
h4 Candara
.demo
  p.candara= bogan({ paragraphs: 1 })
h4 Calibri
.demo
  p.calibri= bogan({ paragraphs: 1 })
h4 Franklin gothic
.demo
  p.franklin-gothic= bogan({ paragraphs: 1 })
h4 Tahoma
.demo
  p.tahoma= bogan({ paragraphs: 1 })
h3 Serif
h4 Garamond
.demo
  p.garamond= bogan({ paragraphs: 1 })
h4 Lucida bright
.demo
  p.lucida-bright= bogan({ paragraphs: 1 })
h4 Palatino
.demo
  p.palatino= bogan({ paragraphs: 1 })
h4 Big caslon
.demo
  p.big-caslon= bogan({ paragraphs: 1 })
h4 Didot
.demo
  p.didot= bogan({ paragraphs: 1 })
h4 Baskerville
.demo
  p.baskerville= bogan({ paragraphs: 1 })
h4 Hoefler text
.demo
  p.hoefler-text= bogan({ paragraphs: 1 })
h4 Bodoni MT
.demo
  p.bodoni-mt= bogan({ paragraphs: 1 })
h4 Goudy old style
.demo
  p.goudy-old-style= bogan({ paragraphs: 1 })
h4 Constantia
.demo
  p.constantia= bogan({ paragraphs: 1 })
h4 Cambria
.demo
  p.cambria= bogan({ paragraphs: 1 })
h4 Book antiqua
.demo
  p.book-antiqua= bogan({ paragraphs: 1 })
